#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 25
#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        clear_macro: clear_macro {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp SLASH &kp C &kp L &kp E &kp A &kp R &kp ENTER>;
            label = "CLEAR_MACRO";
        };

        // レイヤー自動切替マクロ: press時にFキーtap→mo hold、release時にmo解除→F20 tap
        mo1_f13: mo1_f13 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap &kp F13>,
                       <&macro_press &mo 1>,
                       <&macro_pause_for_release>,
                       <&macro_release &mo 1>,
                       <&macro_tap &kp F20>;
        };

        mo2_f14: mo2_f14 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap &kp F14>,
                       <&macro_press &mo 2>,
                       <&macro_pause_for_release>,
                       <&macro_release &mo 2>,
                       <&macro_tap &kp F20>;
        };

        mo3_f15: mo3_f15 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap &kp F15>,
                       <&macro_press &mo 3>,
                       <&macro_pause_for_release>,
                       <&macro_release &mo 3>,
                       <&macro_tap &kp F20>;
        };

        mo4_f16: mo4_f16 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap &kp F16>,
                       <&macro_press &mo 4>,
                       <&macro_pause_for_release>,
                       <&macro_release &mo 4>,
                       <&macro_tap &kp F20>;
        };

        mo6_f18: mo6_f18 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap &kp F18>,
                       <&macro_press &mo 6>,
                       <&macro_pause_for_release>,
                       <&macro_release &mo 6>,
                       <&macro_tap &kp F20>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ht_hp: ht_hp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HOLD_PREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "hold-preferred";
        };

        ht_mkp_kp: ht_mkp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MKP_KP";
            bindings = <&mkp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        ht_clear: ht_clear {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CLEAR";
            bindings = <&clear_macro>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "hold-preferred";
        };

        rotate: rotate {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ROTATE";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        // レイヤー自動切替 hold-tap: holdでマクロ(mo+Fキー)、tapでキーコード
        lt_f13: lt_f13 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_F13";
            bindings = <&mo1_f13>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        lt_f14: lt_f14 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_F14";
            bindings = <&mo2_f14>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        lt_f15: lt_f15 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_F15";
            bindings = <&mo3_f15>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        lt_f16: lt_f16 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_F16";
            bindings = <&mo4_f16>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        lt_f18: lt_f18 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_F18";
            bindings = <&mo6_f18>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                        &kp T                                                          &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A             &kp S         &kp D         &ht_hp GLOBE F                  &kp G        &kp AT                             &mkp MB1       &kp H        &kp J  &kp K      &kp L       &mkp MB1
&mt LEFT_SHIFT Z  &kp X         &ht_clear 0 C  &kp V                        &lt_f18 0 B  &kp UNDERSCORE                     &mkp MB2       &kp N        &kp M  &kp COMMA  &kp PERIOD  &mkp MB2
&kp LEFT_WIN      &mt LCTRL ESC  &mt LEFT_ALT TAB  &lt_f13 0 LANGUAGE_2         &lt_f14 0 SPACE  &lt_f15 0 LANGUAGE_1              &kp BACKSPACE  &lt_f16 0 ENTER                            &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp MINUS  &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans                          &kp F1  &kp F2    &kp UP     &kp F4  &kp F5
&kp SLASH  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp ASTERISK  &trans   &kp F13  &kp F6    &kp LEFT   &kp DOWN   &kp RIGHT  &mkp MB1
&kp PLUS   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N0     &kp DOT  &trans   &trans    &trans     &trans     &trans     &mkp MB2
&trans     &trans     &trans     &trans     &trans        &trans   &trans   &trans                            &kp F12
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                   &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE  &kp EXCLAMATION   &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp QUESTION
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans          &trans                                                                     &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans       &trans  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &kp LG(R)                               &kp LG(R)  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans
&lt 5 SPACE  &trans  &mkp MB1         &mkp MB2           &mkp MB3   &mkp MB1      &kp LC(LS(W))  &mkp MB3   &mkp MB1         &mkp MB2           &trans  &lt 5 SPACE
&trans       &trans  &mkp MB4         &mkp MB5           &trans     &mkp MB2      &trans         &trans     &mkp MB4         &mkp MB5           &trans  &trans
&trans       &trans  &trans           &trans             &trans     &trans        &trans         &trans                                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp 0 0>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans    &trans    &trans                        &kp LC(W)  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans
&trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans      &trans  &mkp MB3   &mkp MB1         &mkp MB2           &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans      &trans  &trans     &mkp MB4         &mkp MB5           &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans      &trans  &trans                                                 &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &studio_unlock  &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans          &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            bindings = <
&trans                     &kp LC(W)  &kp LC(W)  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)                           &kp LC(W)      &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans
&lt_to_layer_0 5 KP_MINUS  &trans     &mkp MB1   &mkp MB2         &mkp MB3           &trans      &trans       &mkp MB3       &mkp MB1         &mkp MB2           &trans  &lt_to_layer_0 5 KP_MINUS
&trans                     &trans     &mkp MB4   &mkp MB5         &mkp MB5           &trans      &trans       &trans         &mkp MB4         &mkp MB5           &trans  &trans
&trans                     &trans     &trans     &trans           &trans             &trans      &kp PAGE_UP  &kp PAGE_DOWN                                              &trans
            >;
        };
    };
};
